@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

h2,
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.info {
  padding: 20px 14px;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.error-info {
  background-color: #ef5050;
}

.success-info {
  background-color: #39a639;
}
